
config MTK_AKM09916
	tristate "AKM09916 for MediaTek package"
	default n
	help
	  It support different magnetometer sensor.
	  If this option is set, it will support
	  AKMD09911 magnetometer which is a 3-axis electronic
	  compass IC with high sensitive Hall sensor technology.
